@import "tailwindcss";

@theme {
  /* Fonts */
  --font-family-sans: 'Red Hat Display', 'Proxima Nova', sans-serif;
  
  /* Colors */
  --color-primary: #222222;
  --color-background: #ffffff;
  --color-foreground: #222222;
}

:root {
  --background: #ffffff;
  --foreground: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #222222;
  font-family: 'Red Hat Display', 'Proxima Nova', sans-serif;
}
